@CHARSET "ISO-8859-1";

#body_identificator
{
    
    margin-right: 0px;
    
}

.td_filtro_destacado
{
    
    padding-top: 15px;
    padding-left: 13px;
    font-size: 13px;   
    color: #CE4E35;
    font-weight: bold;
    
}

.td_calendario_titulos
{
    
    background-color: #E1E2E4;
    color: #333333;
    font-family: arial,helvetica,sans-serif;
    font-size: 12px;    
    font-weight: bold;
    padding-left: 4px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid #000000;
    text-align: left;
    padding-left: 15px;
    
}

.td_tarefa_calendario
{
    
    height: 30px;
    text-align: center;
    font-family: arial,helvetica,sans-serif;
    font-size: 12px;  
    font-weight: bold;    
    
}

.gmaps_balao
{
    
    text-align: left;
    padding-left: 5px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;	
        
}

.input_em_lista
{
    
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #AAAAAA #C8C8C8 #C8C8C8 #AAAAAA;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;	
    vertical-align: middle;
    color: #666666; 
    z-index: 1;
    padding: 4px;
    margin: 0px;
    
}

.input_em_lista[readonly]
{
    
    background-color: #cecece;
    
}

select.input_em_lista
{

    padding: 3px; 

}

.td_list_input
{
    
    padding: 0px;
    vertical-align: top;
    
}

.input_text
{
    
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #AAAAAA #C8C8C8 #C8C8C8 #AAAAAA;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;	
    vertical-align: middle;
    color: #666666; 
    z-index: 1;
    padding: 4px;
    margin: 0px;

}

.input_text[readonly], .focus_text[readonly]
{
    
    background-color: #cecece;
    
}

.negrito
{
    
    font-weight: bold;
    
}

select.input_text
{

    min-height: 17px;  
    border-style: solid;
    border-width: 1px;
    border-color: #AAAAAA #C8C8C8 #C8C8C8 #AAAAAA;
    

}

.input_disabled
{

    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #AAAAAA #C8C8C8 #C8C8C8 #AAAAAA;
    font-size:14px; 
    font-family: Arial, Helvetica, sans-serif;	
    vertical-align: middle;
    color: #666666; 
    z-index: 1;
    padding: 4px;

}

.focus_text
{

    background-color: #fdfb9d;
    border-style: solid;
    border-width: 2px;
    border-color: #FFDD8C #F2DD8C #FFDD8C #F2DD8C;
    font-size:14px; 
    font-family: Arial, Helvetica, sans-serif;	
    vertical-align: middle;
    color: #666666; 
    z-index: 1;
    padding: 4px;

}

select.focus_text
{

    min-height: 17px;
    border-style: solid;
    border-width: 2px;
    border-color: #FFDD8C #F2DD8C #FFDD8C #F2DD8C;
    
}

.input_select
{

    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #AAAAAA #C8C8C8 #C8C8C8 #AAAAAA;
    font-size:12px; 
    font-family: Arial, Helvetica, sans-serif;	
    vertical-align: middle;
    color: #666666; 
    z-index: 1;
    min-height: 17px;

}

.focus_select
{

    background-color: #ffffff;
    border: 1px solid #cccccc; 
    font-size:11px; 
    font-family: Verdana, Arial, Helvetica, sans-serif;	
    color: #666666; 
    height: 17px;

}

.botao_topo_pagina
{

    width:120px; 
    height:25px; 
    text-align:center; 
    padding-bottom:0; 
    padding-top:5px;  
    border-left:1px solid #99CC00; 
    border-right:1px solid #99CC00; 
    border-top:1px solid #99CC00; 
    background-color:#000000; 
    float:left; 
    margin-right:5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;


}

.tabela_form
{

    background-color: #FFFFFF;
    border: 0px solid #cccccc;
    width:98%;
    color:#666666;
    font-size:11px;
    font-family:Verdana, Arial, Helvetica, sans-serif;	
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;

}

span.obrigatorio{

    color: #D40707;
    font-weight: bold;

}

.tr_form
{

    page-break-inside: avoid;	

}

.td_form_label
{

    padding-bottom: 5px; 
    padding-top: 5px; 
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;	
    text-align: left;
    font-weight: bold;

}

.td_form_campo
{

    padding-bottom:5px; 
    padding-top:5px; 
    padding-left:10px;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;	
    text-align: left;

}

.td_combobox
{

    padding-bottom:5px; 
    padding-top:5px; 
    padding-left:10px;

}

.td_resumo_label
{

    font-weight: bold;
    padding-bottom:5px; 
    padding-top:5px; 

}

.td_resumo_campo
{

    padding-bottom:5px; 
    padding-top:5px; 
    padding-left:10px;

}

.table_next_action
{

    background-color:#FFFFFF;
    color:#666666;
    font-size:11px;
    font-family:Verdana, Arial, Helvetica, sans-serif;		

}

.tr_next_action
{



}

.td_next_action
{



}

.tr_form_rodape1
{



}

.tr_form_rodape2
{



}

.table_botoes_filter
{

    background: url("../imgs/padrao/rodape.png") repeat-x scroll 50% 50% #BDBDBD;
    border-top:3px solid #AAAAAA;
    padding-right:20px;
    height:30px;	
    width: 100%;

}

.table_botoes_form
{

    background: url("../imgs/padrao/rodape.png") repeat-x scroll 0% 0% #BDBDBD;
    border-top:3px solid #AAAAAA;
    padding-right:20px;
    height:30px;	
    width: 100%;
    border-radius: 3px;

}

.td_botoes_form
{

    padding-left: 5px;
    padding-right: 5px;
    text-align: left;	

}

.botoes_form
{

    background-color:#E3E3E3;
    font: bold 12px arial,helvetica,sans-serif;
    text-align: center !important;
    border: 1px solid #333333; 
    color: #000000;	
    padding: 4px 10px 4px 10px;
    border-radius: 2px;

}

.botao_destaque
{

    background-color:#ffffff;
    font: 11px Verdana; 
    border: 1px solid #333333; 
    font-size:11px; 
    font-family: Verdana, Arial, Helvetica, sans-serif;	
    color: #000000;	

}

.tabela_cabecalho_usuario
{

    border: 0px;
    color:#666666;
    font-size:11px;
    font-family:Verdana, Arial, Helvetica, sans-serif;	
    width: 100%;
    border-collapse: collapse;

}

.tr_list_conteudo_impar
{

    background-color: #FFFFFF;
    height: 20px;

}

.tr_list_conteudo_par
{

    background-color: #F7F7F7;
    height: 20px;

}

.tr_list_conteudo_impar_destaque
{

    background-color: #46F257;

}

.tr_list_conteudo_par_destaque
{

    background-color: #ADF4B4;

}


.fieldset_filtro, .fieldset_form, .fieldset_list, .fieldset_paginacao
{

    margin-bottom: 5px;
    width: 99%;
    border: 0px solid #AABBCC;
    padding:0px 0px 15px 7px;
    margin-left: auto;
    margin-right: auto;

}

.legend_filtro, .legend_form, .legend_list, .legend_paginacao
{

    font: 0.8em/1.5 "arial",sans-serif;
    font-size: 140%;    
    color: #CE4E35;
    cursor: default;
    background-color: #FFFFFF;
    margin-left: 12px;
    padding-left: 30px;
    padding-top: 3.5px;
    padding-bottom: 3.5px;
    margin-right: 5px;    
    vertical-align: middle;
    border-bottom-color: #000000;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    margin-bottom: 18px;
    width: 96%;
    height: 35px;    

}

.legend_filtro{
    
    background-image: url(../imgs/padrao/lupa.png);
    background-repeat: no-repeat;
    background-position: 2px 7px;
    
}

.legend_list{
    
    background-image: url(../imgs/padrao/lista.png);
    background-repeat: no-repeat;
    background-position: 1px 8px;
    
}

.legend_form{
    
    background-image: url(../imgs/padrao/form.png);
    background-repeat: no-repeat;
    background-position: 1px 8px;
    
}

.legend_paginacao{
    
    background-image: url(../imgs/padrao/paginacao.png);
    background-repeat: no-repeat;
    background-position: 1px 8px;
    
}

.fieldset_form
{

    margin-bottom: 5px;
    width: 99%;
    border: 0px solid #AABBCC;
    padding:0px 0px 15px 7px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;

}

.fieldset_form2
{

    margin-bottom: 5px;
    width: 100%;
    border: 0px solid #AABBCC;
    padding:0px 0px 15px 6px;
    margin-left: 0px;
    margin-right: auto;
    border-radius: 3px;

}

.fieldset_form2 legend.legend_list
{

    margin-left: 7px;

}

.fieldset_form2 table.tabela_list
{

    margin-left: 7px;
    border-width: 0px;

}


.tabela_list
{

    background-color:#f1f1f1;
    border: 0px solid #9FAEC2;
    width:98%;
    color: #666666;
    font-size:11px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px 0px 3px 3px;
    page-break-inside: avoid;

}

.tabela_popup
{

    background-color:#f8f8f8;
    border: 1px solid #cccccc;
    width:98%;
    color:#666666;
    font-size:11px;
    font-family:Verdana, Arial, Helvetica, sans-serif;	
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

}

.tr_list_titulos
{

    color:#ffffff;
    font-size:11px;
    font-weight:bold;
    height:25px;
    page-break-inside: avoid;

}

.tr_list_titulos_vermelha
{

    background-color:#CC0033;
    color:#ffffff;
    font-size:11px;
    font-weight:bold;
    height:25px;
    page-break-inside: avoid;

}

.tr_list_titulos_amarela
{

    background-color:#FFE51E;
    color:#000000;
    font-size:11px;
    font-weight:bold;
    height:25px;

}

.tr_list_subtitulos
{

    background-color:#1F1F1F;
    color:#ffffff;
    font-size:11px;
    height:18px;

}

.td_list_titulos
{

    background-color: #E1E2E4;
    color: #333333;
    font-family: arial,helvetica,sans-serif;
    font-size: 12px;    
    font-weight: bold;
    padding-left: 4px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid #000000;

}

.td_list_subtitulos
{

    background-color:#cacaca;
    color:#000000;
    font-size:11px;
    font-weight: bold;

}

.td_list_total
{

    background-color:#FFC000;
    color:#000000;
    font-size:11px;
    font-weight: bold;
    height: 30px;

}

.td_list_conteudo
{

    height: 25px;
    padding-left: 5px;
    text-align: left;	

}

.td_relatorio_titulo
{

    background-color:#ffff99;
    color:#000000;
    font-size:15px;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;

}

.td_relatorio_destaque
{

    background-color:#000000;
    color:#FFFFFF;
    font-size:11px;
    font-weight: bold;
    text-align: center;
    border-color: #000000;
    border-width: 2px;
    height: 25px;


}

.td_espacamento
{

    background-color: #ffffff;
    height: 5px;
    padding: 0px;
    border-bottom-width: 0px;
    border-top-width: 0px;

}

.td_relatorio_cinza
{

    background-color:#e3e3e3;
    color:#000000;
    font-size:11px;
    font-weight: bold;
    text-align: center;
    height: 25px;

}

.td_relatorio_branca
{

    background-color:#ffffff;
    color:#000000;
    font-size:11px;
    font-weight: bold;
    text-align: center;

}

.td_list_titulo_base
{

    background-color: #DCE6F5;
    border: 1px solid #9FAEC2;
    border-radius: 2px 2px 2px 2px;
    color: #254264;
    font-family: Calibri;
    font-size: 12px;
    font-weight: bold;
    text-align: center;

}


.table_paginacao
{

    margin-left: 10px;

}

.tr_paginacao
{



}

.td_paginacao
{

    font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
    font-size:11px;
    color:#ffffff;
    text-align:center;
    font-weight:bold;
    background:#000000;
    width:20px;
    height:20px;
    padding:5px;
    text-decoration:none;	
    cursor: pointer;		
    border-radius: 3px;

}

.td_paginacao_pag_atual
{

    font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
    font-size:11px;
    color:#FFFFFF;
    text-align:center;
    font-weight:bold;
    background-color:#980000;
    width:20px;
    height:20px;
    padding:5px;
    text-decoration:none;
    cursor:default;	
    border-radius: 3px;

}

.table_geral
{

    padding: 0px;	
    margin-top: 130px;

}

.link_topo:link
{

    font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
    font-size:11px;
    color:#ffffff;
    text-decoration:none;

}

.link_topo:visited
{

    font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
    font-size:11px;
    color:#ffffff;
    text-decoration:none;
}

.link_topo:hover
{
    font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
    font-size:11px;
    color:#ffcc00;
    text-decoration:none;

}

.link_padrao:link
{

    font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
    font-size:11px;
    color:#083869;
    text-decoration:none;
    cursor: pointer;
}

.link_padrao:visited
{

    font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
    font-size:11px;
    color:#083869;
    text-decoration:none;
    cursor: pointer;

}

.link_padrao:hover
{

    font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
    font-size:11px;
    color:#cc0033;
    text-decoration:none;
    cursor: pointer;

}

.link_vermelho:link
{

    font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
    font-size:12px;
    color:#254264;
    text-decoration:none;

}

.link_vermelho:visited
{

    font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
    font-size:12px;
    color:#254264;
    text-decoration:none;

}

.link_vermelho:hover
{

    font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
    font-size:12px;
    color:#6F1B1B;
    text-decoration:none;

}

.div_ajax_list
{

    width: 100%;
    display: block;

}

.tr_div_ajax_list
{



}

.div_ajax_next_action
{

    display: none;	

}

.div_ajax_botoes
{

    display: none;

}

.div_ajax_botoes_inicial
{

    display: block;	

}

.input_login
{

    background-color: #f5f5f5; 
    border: 1px solid #999999; 
    font-size:11px; 
    font-family: Verdana, Arial, Helvetica, sans-serif;	
    color: #666666; 
    width:380px;
    border-radius: 3px;

}

.focus_login    
{

    background-color: #FFF5CC;
    border: 1px solid #FFCC00;
    font-size:11px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #254264;
    width:380px;

}

.div_cadeado_login
{

    background:url(../imgs/padrao/background_cadeado.png);
    background-repeat: no-repeat;
    width:226px;
    height:314px;

}

.texto_div_cadeado_login
{

    text-align:left;
    line-height:15px;
    padding-top:207px;
    font-size:11px;
    color:#999999;
    padding-right:20px;
    padding-left:20px;

}

.tabela_login
{

    background:url(../imgs/padrao/background_login.jpg);
    repeat: repeat-x;
    width:100%;
    height:314px;	

}

.body_login
{

    margin-top:0px;
    margin-left:0px;
    margin-right:0px;
    margin-bottom:0px;
    background-color:#F1F1F1;
    font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
    font-size:11px;
    color:#ffffff;

}

.div_mensagem_login
{

    font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
    font-size:11px;
    color:#083869;
    cursor:default;

}

.div_mensagem_ok
{

    width:95%;
    height: auto;
    border: 1px dashed #99CC00;
    background-color: #EBF5CC;
    padding:10px 0px 10px 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size:11px;
    text-align:center;
    font-weight:bold;

}

.td_mensagem_ok
{

    width:37px;
    height:35px;
    padding:10px;
    background-image:url(../imgs/padrao/imgSucesso.png);
    background-position:center;
    background-repeat:no-repeat;

}

.div_carregamento_ajax
{

    background-image:url(../imgs/padrao/carregando.gif);
    background-position:center;
    background-repeat:no-repeat;
    margin-left: auto;
    margin-right: auto;

}

.div_mensagem_erro
{

    width:95%;
    border: 1px dashed #254264;
    background-color: #FAE5E5;
    padding:10px 0px 10px 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size:11px; 
    font-weight:bold;

}

.td_mensagem_erro
{

    width:37px;
    height:35px;
    padding:10px;
    background-image:url(../imgs/padrao/imgErro.png);
    background-position:center;
    background-repeat:no-repeat;

}

.div_mensagem_warning
{

    width:95%;
    height: auto;
    border: 1px dashed #FFCC00;
    background-color: #FFFFF0;
    padding:10px 0px 10px 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size:11px; 
    font-weight:bold;
    text-align:center;
    border-radius: 3px;

}

.td_mensagem_warning
{

    width:37px;
    height:35px;
    padding:10px;
    background-image:url(../imgs/padrao/imgWarning.png);
    background-position:center;
    background-repeat:no-repeat;

}

.div_mensagem_info
{

    width:95%;
    border: 1px dashed #12319E;
    background-color: #E5EAF9;
    padding:10px 0px 10px 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size:11px; 
    font-weight:bold;
    border-radius: 3px;

}

.td_mensagem_info
{

    width:37px;
    height:35px;
    padding:10px;
    background-image:url(../imgs/padrao/imgInfo.png);
    background-position:center;
    background-repeat:no-repeat;

}

.div_mensagem_android
{

    width:95%;
    border: 1px dashed #C4C2C2;
    background-color: #262626;
    padding:10px 0px 10px 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size:11px; 
    font-weight:bold;
    border-radius: 3px;
    
}

.td_mensagem_android
{

    width:37px;
    height:35px;
    padding:10px;
    background-image:url(../imgs/padrao/imgAndroid.png);
    background-position:center;
    background-repeat:no-repeat;

}

.div_conteudo_mensagem
{

    padding:10px;
    font-size:11px;
    font-family:verdana;
    text-align:justify;
    line-height:20px;
    font-weight:bold;

}

.div_conteudo_mensagem_android
{

    padding:10px;
    font-size:11px;
    font-family:verdana;
    text-align:justify;
    line-height:20px;
    font-weight:bold;
    color: #FFFFFF;

}

.div_expansao_invisivel
{

    width:99%;
    height: auto;
    border: 0px solid #99CC00;
    padding:10px 10px 10px 10px;
    margin:10px 10px 10px 10px;
    display: none;

}

.div_expansao_visivel
{

    width:99%;
    height: auto;
    border: 0px solid #99CC00;
    padding:5px 5px 5px 5px;
    margin:5px 5px 5px 5px;
    display: block;

}

.fieldset_expansao
{

    width: 98.7%;
    border: 1px solid #000000;

    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5px;

    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;

}

.legend_expansao
{

    font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
    font-size:11px;
    color:#254264;
    font-weight:bold;
    cursor:default;	

}

.tabela_discreta
{

    background-color:transparent;
    border: 0px;
    width:99%;
    color:#666666;
    font-size:11px;
    font-family:Verdana, Arial, Helvetica, sans-serif;	
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-spacing: 2px 0px;

}

.graficos_minha_area
{

    border: 0px;	

}

.tabela_organograma
{

    border: 0px;	
    font-size:9px;
    font-family:Verdana, Arial, Helvetica, sans-serif;	
    color:#000000;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

.td_espaco
{

    border-bottom: 2px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;

}

.td_nivel_ligacao_vertical
{


    border-bottom-width: 0px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 2px;
    border-right-color: #000000;
    border-right-style: solid;
    height: 10px;	

}

.td_nivel_ligacao_horizontal
{


    border-right-width: 0px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 2px;
    border-bottom-color: #000000;
    border-bottom-style: solid;
    height: 10px;	

}

.td_nivel_ligacao_vazio
{

    border-bottom-width: 0px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    height: 10px;	
    width: 110px;

}

.celula_verde
{

    border-color: #ffffff;
    border-style: solid;
    border-spacing: 5px;
    border-left-width: 5px;
    border-right-width: 5px;
    width: 370px;
    height: 60px;
    padding: 5px;
    font-size: 12px;
    background-color: #a7feab;
    border-radius: 10px;

}

.celula_amarela
{

    border-color: #ffffff;
    border-style: solid;
    border-spacing: 5px;
    border-left-width: 5px;
    border-right-width: 5px;
    width: 230px;
    height: 60px;
    padding: 5px;
    font-size: 12px;
    background-color: #ecf11f;	

}

.celula_vermelha
{

    border-color: #ffffff;
    border-style: solid;
    border-spacing: 5px;
    border-left-width: 5px;
    border-right-width: 5px;
    width: 230px;
    height: 60px;
    padding: 5px;
    font-size: 12px;
    background-color: #ff0000;	

}

a.link_celula_verde {

    font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
    font-size:9px;
    color:#254264;
    text-decoration:none;	

}

a.link_celula_amarela {

    font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
    font-size:9px;
    color:#254264;
    text-decoration:none;	

}

a.link_celula_vermelha {

    font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
    font-size:9px;
    color:#ffffff;
    text-decoration:none;	

}

.imagem_mais_info {

    border: 0px;
    float: right;
    padding-right: 20px;

}

.centerDivMensagem {

    position: absolute;
    top: 40%;     
    width: 400px;   
    left: 35%;
    right: 0;
    z-index: 999;
    border-radius: 5px;

}

.erroDiv {

    background-color:#F1F1F1;
    border:5px solid #999999;
    padding:10px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:11px;
    color:#999999;	

}

.alertaDiv {

    background-color:#F1F1F1;
    border:5px solid #999999;
    padding:10px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:11px;
    color:#999999;	

}

.okDiv {

    background-color:#F1F1F1;
    border:5px solid #BBBBBB;
    padding:10px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:11px;
    color:#999999;
    border-radius: 8px;

}

.dialogo {

    background-color:#F1F1F1;
    border:5px solid #999999;
    padding:10px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:11px;
    color:#999999;
    border-radius: 8px;

}

.textoDivMensagem {

    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:11px;
    color:#999999;
    font-weight:bold;

}

.centerDivGrande {

    position: absolute;
    top: 95px;     
    width: 1000px;   
    left: 10%;
    right: 0;
    z-index: 500;
    background-color:#F1F1F1;
    border:5px solid #999999;
    padding:10px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:11px;
    color:#999999;
    border-radius: 8px;

}

.div_menu_popup{

    position: absolute;
    top: 95px;     
    left: 10%;
    width: 325px;
    right: 0;
    z-index: 912;
    background-color:#F1F1F1;
    border:5px solid #999999;
    padding:10px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:11px;
    color:#999999;	
    text-align: left;
    border-radius: 6px;

}

.div_menu_informacoes{

    position: absolute;
    width: 35px;
    height: 20px;   
    z-index: 200;
    background-color:#FFFFFF;
    border:0px solid #999999;
    background-color:transparent;
    padding:5px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:15px;
    font-weight: bold;
    color:#000000;	
    text-align: left;
    cursor: default;

}	

.td_titulo_filtro
{

    padding-bottom:5px; 
    padding-top:5px; 
    padding-left:2px;
    margin: 0px;
    border-color: #000000;
    border-spacing: 0px;
    height: 30px;
    background-color: #000000;

}

.options_1
{

    background-color: #FFFFFF;	
    color: #FF0000;

}

.options_2
{

    background-color: #00CA00;
    color: #FFFFFF;	

}

.tabela_conteudo_organograma
{

    width: 92%;
    border-spacing: 0px;
    border-color: #000000;
    margin-left: auto;
    margin-right: auto;
    border-width: 0px;
    border-collapse: collapse;
    border-spacing: 5px;	

}

.tabela_descricao_organograma
{

    height: 100%; 
    width: 100%;

}

.td_ct_organograma
{

    width: 10px;
    border-radius: 3px;

}

.celula_exterior_tabela
{

    vertical-align: top;	
    background-color: #FFFFFF;
    text-align: center;

}

.tr_conteudo_organograma
{

    height: 50px;
    font-size: 9px;
    border-width: 0px;
    text-align: left;

}

.tr_conteudo_organograma_destaque
{

    height: 50px;
    font-size: 9px;
    background-color: #d7f9fb;
    border-width: 0px;
    text-align: left;	

}


.td_link_organograma
{

    width: 80%;

}

.td_tabela_legenda_organograma
{

    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weigth: bold;
    text-align: center;
    width: 20%;

}

.td_legenda_organograma_verde
{

    width: 20px;
    height: 20px;
    background-color: #33E830;	
    font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
    font-size:11px;
    color:#FF0046;
    font-weight: bold;
    text-align: center;
    border-radius: 3px;

}

.td_legenda_organograma_destaque
{

    width: 20px;
    height: 20px;
    background-color: #000000;	
    font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
    font-size:11px;
    color:#EFE14A;
    font-weight: bold;
    text-align: center;
    border-radius: 3px;

}

.td_legenda_organograma_vermelho
{

    width: 20px;
    height: 20px;
    background-color: #B71616;
    font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
    font-size:11px;
    color:#FFFFFF;
    font-weight: bold;
    text-align: center;
    border-radius: 3px;

}

.td_legenda_organograma_amarelo
{

    width: 20px;
    height: 20px;
    background-color: #EDDD09;
    font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
    font-size:11px;
    color:#FF0046;
    font-weight: bold;
    text-align: center;
    border-radius: 3px;

}

.td_legenda_organograma_cinza
{

    width: 20px;
    height: 20px;
    background-color: #DDDDDD;
    font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
    font-size:11px;
    color:#FF0046;
    font-weight: bold;
    text-align: center;
    border-radius: 3px;

}

.td_legenda_organograma_borda_preta
{

    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border: 1px #000000 ridge;
    font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
    font-size:11px;
    color:#FF0046;
    font-weight: bold;
    text-align: center;
    border-radius: 3px;

}

.td_legenda_organograma_branco
{

    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
    font-size:11px;
    color:#000000;
    font-weight: bold;
    text-align: center;
    border-radius: 3px;

}

.link_pessoa_organograma
{

    font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
    font-size:11px;
    font-weight: bold;
    color:#cc0033;
    text-decoration:none;

}

.link_nivel_organograma
{

    font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
    font-size:10px;
    color:#083869;
    text-decoration:none;

}

.td_comentario_organograma
{

    font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
    font-size:11px;
    color:#000000;
    padding: 5px;
    background-color: #BBF9D2;
    border: 1px dashed #07E000;
    border-radius: 3px;
    height: 50px;
    width: 100%;
    vertical-align: middle;
}

.link_branco
{

    font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
    font-size:11px;
    color:#ffffff;
    text-decoration:none;

}

.link_azul
{

    font-family: Calibri;
    font-size:12px;
    color:#254264;
    font-weight: bold;
    text-decoration:none;

}

.link_cinza
{

    font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
    color:#666666;
    font-size:11px;
    text-decoration:none;
}

.link_generico
{

    text-decoration: none;		

}

.tabela_estrutura_org
{

    background-color:#f8f8f8;
    border: 0px;
    width:100%;
    color:#666666;
    font-size:11px;
    font-family:Verdana, Arial, Helvetica, sans-serif;	

}

.tr_treinamento_invisivel
{

    background-color: #ffffff;
    display: none;

}

.tr_treinamento_visivel
{

    background-color: #ffffff;
    display: table-row;

}

.tabela_interna
{

    background-color:#ffffff;
    border: 0px;
    width:100%;
    color:#666666;
    font-size:11px;
    font-family:Verdana, Arial, Helvetica, sans-serif;	

}

.td_botoes_zoom
{

    font-family:Verdana, Arial, Helvetica, sans-serif;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;

}

.tabela_representacao_rota_treinamento
{

    border: 0px;
    width:100%;
    color:#666666;
    font-size:11px;
    font-family:Verdana, Arial, Helvetica, sans-serif;	

}

.td_representacao_rota_treinamento
{

    height: 42px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    background-color: transparent;

}

.imagem_representacao_unidade_treinamento
{

    width: 40px;
    height: 40px;
    border: 0px;
    vertical-align: middle;
    margin-right: 10px;

}

.div_representacao_unidade_treinamento
{

    height: 42px;
    margin-right: 10px;
    vertical-align: middle;
    display: block;

}

.div_seta_direita
{

    background-color: transparent;
    vertical-align: middle;
    height: 42px;
    padding-left: 5px;
    padding-right: 5px;
    display: table;
    text-align: center;
    float: left;
    margin-top: 13px;

}

.seta_direita
{

    height: 14px;
    width: 29px;
    border: 0px;		
    margin: 0 auto;

}

.div_representacao_grupo_treinamento
{

    border: 1px solid #FFCC00;
    background-color: #FFFFF0;
    height: 42px;
    margin-right: 10px;
    vertical-align: middle;	
    display: block;
    margin-top: auto;
    margin-bottom: auto;	
    top: 50%;

}

.div_overlay
{

    background-color: #000;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    z-index: 500;

}

.quadro_resumo_spv
{

    display: none;

}

.tabela_resumo_spv
{

    background-color: transparent;
    border-collapse: collapse;	
    font-size: 8px;

}

.tabela_resumo_spv tr td
{

    font-family: Verdana, Arial, Helvetica, sans-serif, arial, verdana;
    font-size: 9px;
    font-weight: bold;
    color:#000000;
    text-decoration: none;
    background-color: #ffffff;
    text-align: center;
    cursor: default;

}

.tabela_resumo_spv tr td.label
{

    border-right-width: 2px;
    border-right-color: #000000;
    border-right-style: solid;
    padding-right: 5px;
    border-spacing: 0px;

}

.tabela_resumo_spv tr td.planejado
{

    border-bottom-width: 2px;
    border-bottom-color: #000000;
    border-bottom-style: dashed;
    border-spacing: 0px;

}

.tabela_resumo_spv tr td.real
{

    border-top-width: 2px;
    border-top-color: #000000;
    border-top-style: dashed;
    border-spacing: 0px;

}

.tabela_resumo_spv tr td table tr
{

}

.tabela_resumo_spv tr td table tr td
{

    font-family: Verdana, Arial, Helvetica, sans-serif, arial, verdana;
    font-size: 11px;
    font-weight: bold;
    color:#000000;
    text-decoration: none;
    background-color: #ffffff;
    text-align: left;
    cursor: default;

}

.tabela_totalizador
{

    width: 100%;
    height: 100%;	

}

.tabela_totalizador tr td.totalizador
{

    width: 35px;	
    font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
    font-size:13px;
    font-weight: bold;
    color:#208F1A;
    text-decoration:none;
    background-color: #ffffff;
    text-align: center;
    cursor: default;
    border-radius: 3px;
    padding-left: 4px;
    padding-right: 4px;

}

.tabela_totalizador tr td.nome_nivel
{

    padding-left: -35px;
    text-align: center;	
    width: 100%;

}

.legenda_quadro_resumo
{

    height: 15px;
    width: 15px;
    font-size: 5px;
    margin-right: 5px;	
    border-width: 0px;
    vertical-align: middle;

}

.icone_legenda
{

    border: 1px solid #666666;
    margin-bottom: 2px;
    margin-right: 5px;
    width: 17px;
    height: 17px;	
    vertical-align: middle;    
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;

}

.setas_grafico_spv
{

    width: 10px;
    height: 21px;	

}

.titulos_greybox
{

    display: block;
    font-family: Verdana, Arial, Helvetica, sans-serif, arial, verdana;
    font-size: 11px;
    font-weight: bold;
    color:#000000;
    text-decoration: none;
    background-color: #ffffff;
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
    cursor: default;

}

.tabela_filtro_organograma
{

    margin-left: 10px; 
    margin-right: 0px; 
    border-color: #ffffff; 
    background-color: #ffffff;		
    color:#666666;
    font-size:11px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    text-align: left;

}

.tr_vaga_disponivel_coletivo
{



}

.tr_vaga_ja_faz_parte_coletivo
{

    height: 50px;
    font-size: 9px;
    border-width: 0px;
    background-color: #FC7A5F;	
    text-align: left;		

}

.tr_vaga_ja_faz_parte_coletivo_nivel
{

    height: 50px;
    font-size: 9px;
    border-width: 0px;
    background-color: #F7E600;	
    text-align: left;		

}

.tr_vaga_selecionada_coletivo
{

    height: 50px;
    font-size: 9px;
    border-width: 0px;
    background-color: #6AE1FC;
    text-align: left;	

}

.tabela_coletivo_trabalho
{

    background-color:transparent;
    border: 0px;
    width:99%;
    color:#666666;
    font-size:11px;
    font-family:Verdana, Arial, Helvetica, sans-serif;	
    margin-left: 10px;
    text-align: left;
    border-spacing: 0px 0px;

}

.td_titulo_coletivo_trabalho
{

    height: 30px;
    background-color: #ffffff;
    border-bottom: 3px solid;
    border-color: #009AD9;
    text-align: left;
    font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
    font-size:11px;
    font-weight: bold;
    color:#cc0033;
    text-decoration:none;

}

.tabela_legenda_vaga
{

    font-family: Verdana, Arial, Helvetica, sans-serif, arial, verdana;
    font-size: 11px;
    font-weight: bold;
    text-align: left;
    padding-left: 5px;
    width: 80px;


}

.tr_externa_vaga_mix_similaridade
{

    background-color: #ffffff;
    height: 42px;
    margin-right: 10px;
    vertical-align: middle;	
    margin-top: auto;
    margin-bottom: auto;	
    top: 50%;	

}

.td_externa_vaga_mix_similaridade
{

    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;		

}

.imagem_semaforo
{

    width: 25px;
    height: 25px;	

}

.tabela_vaga_mix_similaridades
{

    margin-left: auto;
    margin-right: auto;	

}

.td_vaga_mix_similaridades
{

    width: 20px;
    height: 20px;
    background-color: #D7F9FB;
    border: 1px solid #000000;
    font-family:Verdana, Arial, Helvetica, sans-serif, arial, verdana;
    font-size:11px;
    color:#000000;
    font-weight: bold;
    text-align: center;
    border-color: #000000;
    border-width: 1px;

}

.tabela_semaforo
{

    margin-left: auto;
    margin-right: auto;
    height: 30px;

}

.tabela_tempo_funcao
{

    background-color:#f8f8f8;
    border-collapse: collapse;
    border: 1px solid #cccccc;
    width:98%;
    color:#666666;
    font-size:11px;
    font-family:Verdana, Arial, Helvetica, sans-serif;	
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 10px;

}

.tabela_tempo_funcao_selecionada
{

    background-color: #A8F4B9;	
    border-collapse: collapse;
    border: 1px solid #cccccc;
    width:98%;
    color:#000000;
    font-size:11px;
    font-family:Verdana, Arial, Helvetica, sans-serif;	
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 10px;

}

#div_botao_criar_coletivo
{

    background-color: #ffffff;	
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
    width: 350px;
    border-radius: 3px;

}

#div_botao_planejar_mix
{

    background-color: #ffffff;	
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
    width: 350px;
    border-radius: 3px;

}

#div_opcoes_organograma_analise
{

    background-color: #ffffff;	
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
    width: 280px;
    border-radius: 3px;

}

.drag
{

    cursor: move;
    z-index: 160;
    text-align: left;

}

.drop
{

    text-align: center;
    z-index: 150;

}

.dropped_vaga
{

    background-color: #117F1C;
    border: 1px dashed #99CC00;
    z-index: 150;

}	

.available_vaga
{  

    background-color: #73F47B;
    border: 1px dashed #99CC00;
    z-index: 150;

}

.active_vaga
{  

    background-color: #CEB;
    border-color: #9B8;
    z-index: 150;

}

.dropped_pessoa
{

    background-color: #2DD5FF;
    border: 1px dashed #3F68FC;
    z-index: 150;

}

.dropped_pessoa_ocupada
{

    background-color: #FCD34E;
    border: 1px dashed #3F68FC;
    z-index: 150;

}	

.available_pessoa
{  

    background-color: #65E6F7;
    border: 1px dashed #3F68FC;
    z-index: 150;

}

.available_pessoa_ocupada
{  

    background-color: #FFE74F;
    border: 1px dashed #FFA94F;
    z-index: 150;

}

.active_pessoa
{  

    background-color: #93E9FF;
    border-color: #3F68FC;
    z-index: 150;

}

.active_pessoa_ocupada
{  

    background-color: #FFE970;
    border-color: #3F68FC;
    z-index: 150;

}

.celula_pos_absoluto
{

    z-index: 180;

}

.botao_de_selecao_de_cor
{

    height: 20px;
    width: 20px;
    margin-right: 15px;

}

.td_titulo_assistente
{

    padding-bottom:5px; 
    padding-top:5px; 
    text-align: left;
    font-weight: bold;	
    font-size: 13px;
    text-decoration: underline;

}


.tabela_coletivo
{

    border-style: dashed;
    border-width: 2px;	
    border-color: #000000;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;

}

.td_titulo_coletivo
{

    border-bottom-style: dashed;
    border-bottom-width: 2px;	
    border-bottom-color: #000000;
    text-align: center;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding: 5px;

}

.td_botao_adicionar_novo_bloco
{

    padding-right: 10px;
    padding-bottom:5px; 
    padding-top:5px; 
    text-align: right;	

}

.carregamento_combobox
{

    background: url("../imgs/icone_carregando.gif") no-repeat scroll 50% 50%;

}

.div_visualizar_mensagem
{

    margin-top: 10px;
    width: 96%;
    border-style: dashed;
    border-width: 1px;
    border-color: #000000;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;

}

#espacamento_menu_superior {
    
    border-top-width: 3px;
    border-top-color: #99CC00;
    border-top-style: solid;
    
}


.a
{
    
    text-align: left; 
    padding-left: 5px;
        
}

.b
{
    
    text-align: center;
    
}

.c
{
    
    color: #FF0000;
    
}

.ex
{
    
    border-width: 0px;
    margin-right: 3px;
    cursor: pointer;
    
}

.ed
{
    
    border-width: 0px;
    margin-right: 3px;
    cursor: pointer;
    
}

.label_checkbox
{
    
    height: 24px;
    
}

.grupo_checkbox
{
    
    font-size: 14px;
    
}

.grupo_checkbox2
{
        
    font-size: 14px;
    height: 24px;
    
}

#td_caracteres
{
    
    font-weight: bold;
    font-size: 13px;
    vertical-align: bottom;
    
}

.td_destaque_valor
{
    
    font-size: 15px;
    font-weight: bold;
    color: #000000;
        
}

.tabela_horarios{
    
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 9px;
    text-align: center;
    
}

.horario_d{
    
    background-color: #00CA00;
    color: #FFFFFF;
    cursor: pointer;
        
}

.horario_nd{
    
    background-color: #DDDDDD;
    color: #000000;
        
}

.horario_selecionado
{
    
    background-color: #FFC000;
    color: #000000;
    font-weight: bold;
    
}

option[disabled]
{
    
    text-decoration: line-through;
    color: #000000;
    background-color: #ECAB93;
    
    
}

.divisao
{
    
    border-bottom-color: #C8C8C8;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    
}

.hidden
{
    
    display: none;
    
}

.espacamento_topo
{
    
    margin-top: 5px;
    
}

.icones_list
{
    
    border-width: 0px;
    cursor: pointer;
    
}

.container_da_lista
{
    
    border-bottom-color: #C8C8C8;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    padding-bottom: 10px;
    margin-bottom: 10px;

}

.div_carregamento_ajax
{

    background-image:url(../imgs/padrao/carregando.gif);
    background-position:center;
    background-repeat:no-repeat;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;

}

.td_form_titulo
{
    
    padding-bottom: 5px; 
    padding-top: 5px; 
    font-size: 15px;
    font-family: Verdana, Arial, Helvetica, sans-serif;	
    text-align: left;
    font-weight: bold;
    color: #000000;
    
}

.tabela_avisos
{
    
    background-color: #FFFFFF;
    border: 0px solid #cccccc;
    width:98%;
    color:#666666;
    font-size:11px;
    font-family:Verdana, Arial, Helvetica, sans-serif;	
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 25px;
    
}


.tabela_agenda
{
    
    background-color: #DADADA;
    border: 1px solid #CCCCCC;
    color: #666666;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 98%;
        
}

.linha_agenda td
{
    
    min-height: 30px;
    height: 30px;
    vertical-align: middle;
    
}

.td_horario_agenda
{
    
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 14px;
    width: 90px;
    text-align: center;
    font-weight: bold;
    cursor: default;
    
}

.horario_agenda_disponivel
{

    background-color: #ADF4B4;
    
}

.horario_agenda_nao_disponivel
{

    background-color: #E5EAF9;
    
}

.horario_agenda_ocupado
{

    background-color: #ECAB93;

}


.botao_equip_disponivel
{
    
    background-color: #208F1A;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #333333; 
    color: #FFFFFF;	
    padding: 0 7px 1px;
    margin-left: 3px;
    margin-right: 3px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 10px;
    
}

.botao_equip_ocupado
{
    
    background-color: #CC0033;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #333333; 
    color: #FFFFFF;	
    padding: 0 7px 1px;
    margin-left: 3px;
    margin-right: 3px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 10px;
    
}

.botao_equip_ja_realizado
{
    
    background-color: #000000;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #333333; 
    color: #FFFFFF;	
    padding: 0 7px 1px;
    margin-left: 3px;
    margin-right: 3px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

.tabela_agenda_sessao
{
    
    margin-top: -5px;
    width: 100%;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    
}

.tabela_agenda_sessao td
{
    
    height: 20px;
    
}

.tabela_agenda_sessao .td_label
{
    
    font-weight: bold;
    width: 40px;
    
}


.sessao_destaque
{
    
    color: #CE2222; 
    font-weight: bold;
    text-decoration: underline;
    
    
}

.alerta_validacao
{
    
    color: #CC3333;
    display: inline;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    text-align: left;
    
}

.td_destaque_valor_pedido
{
    
    background-color: #DCE6F5;
    border: 1px solid #9FAEC2;
    font-size: 18px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.td_titulo_procedimentos
{
    
    padding-bottom: 10px; 
    padding-top: 12px; 
    font-size: 14px;
    font-family: Verdana, Arial, Helvetica, sans-serif;	
    text-align: left;
    font-weight: bold;
    padding-top: 15px;
    
}

.tr_titulo_procedimentos
{
        
    font-size: 14px;
    font-family: Verdana, Arial, Helvetica, sans-serif;	
    font-weight: bold;
        
}

.tabela_titulo_procedimentos
{

    background-color: #FAFAFA;
    border: 1px solid #cccccc;
    width:98%;
    color:#666666;
    font-size:11px;
    font-family:Verdana, Arial, Helvetica, sans-serif;	
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 3px;

}

.divisao_superior
{
    
    border-top-color: #C8C8C8;
    border-top-style: dashed;
    border-top-width: 1px;
    padding-top: 10px;
    margin-top: 10px;
    
    
}

.tr_list_administracao_impar
{
    
    background-color: #E0E0E0;
    
}

.tr_list_administracao_par
{
    
    background-color: #EBF5CC;
    
}

.tr_list_administracao_verde_impar
{
    
    background-color: #AAD409;
    
}

.tr_list_administracao_verde_par
{
    
    background-color: #AAF170;
    
}


.tabela_conteudo_administracao
{
    
    font-size:12px;
    font-family:Verdana, Arial, Helvetica, sans-serif;	
    width: 100%;
    
}

.tabela_conteudo_dados_gerais
{
    
    font-size:12px;
    font-family:Verdana, Arial, Helvetica, sans-serif;	
    width: 100%;
    
}

.td_conteudo_dados_gerais
{
    
    font-size:12px;
    font-family:Verdana, Arial, Helvetica, sans-serif;	
    
}


.tabela_interna_administracao
{
    
    background-color: #FAFAFA;
    border: 1px solid #cccccc;
    width:98%;
    color:#666666;
    font-size:11px;
    font-family:Verdana, Arial, Helvetica, sans-serif;	
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 3px;
        
}

.titulo_tabela_interna
{
    
    background-color: #000000;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    height: 20px;
    
}

.subtitulo_tabela_interna
{
    
    background-color: #FF863B;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    height: 20px;
    
}

.subtitulo_tabela_interna_alt
{
    
    background-color: #FFC720;
    color: #000000;
    font-weight: bold;
    text-align: center;
    height: 20px;
    
}

.conteudo_tabela_interna
{
    
    height: 20px;
    text-align: center;
    
}

.conteudo_tabela_interna_par
{
    
    height: 20px;
    background-color: #FFFFFF;
    text-align: center;
    
}

.conteudo_tabela_interna_impar
{
    
    height: 20px;
    background-color: #FFFCD3;
    text-align: center;
    
}

.td_administracao_valor_venda
{
    
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    
}

.tabela_administracao_acoes
{
    
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    
}

.td_administracao_cupom
{
    
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    
}